
.container{
    // border: 1px solid #fff;
    border-radius: 4px;
    margin: -2% auto;
    background: #fff;
    width: 60%;
    box-shadow:  rgba(0, 0, 0, 0.404) 0 0 5px ;

}
.child{
    height: 5em;
}